### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#we are creating a list without duplicates
player_count = purchase_data.loc[:,["Gender", "SN", "Age"]].drop_duplicates()
#getting count from first row
num_players = player_count.count()[0]
#for display purposes we are puting it in dataframe
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#getting unique items with unique fuction and assigining to a dataframe
unique = purchase_data["Item Name"].unique()
unique_df = pd.DataFrame(unique)
#counting number of unique items
count = unique_df.count()
count
#finding avereage and rounding to 2 digits
average = round(purchase_data["Price"].mean(),2)
average
#finding the total and rounding to 2 digits
total = round(purchase_data["Price"].sum(),2)
total
#
#displaying results by assigning to dataframe
summary_dicts = {"Unique Items": count, "Average":"$" + str(average), "Purchases":num_players, "Total":"$" + str(total)}
summary_df = pd.DataFrame(summary_dicts)
summary_df

   Unique Items Average  Purchases     Total
0           179   $3.05        576  $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#counting total number of players by different value in the list
gender_count = player_count["Gender"].value_counts()
gender_count
#calculating percentage num_player we created earlier
gender_percent = (gender_count/num_players)*100
gender_percent
#displaying results by assigning to dataframe using .map function for formating
gender_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#calculating purchase total per gender next count per gender and average per gender
gender_total = purchase_data.groupby(["Gender"]).sum()["Price"]
gender_count = purchase_data.groupby(["Gender"]).count()["Price"]
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"]
purchase_per_person = gender_total/gender_df["Total Count"]
purchase_analysis_df = pd.DataFrame({"Purchase Count":gender_count,
                                     "Average Purchase Price": gender_average,
                                     "Total Purchase Value": gender_total,
                                     "Avg Total Purchase per Person": purchase_per_person})
#displaying results by assigning to dataframe
purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Purchase Value"] = purchase_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_df["Avg Total Purchase per Person"] = purchase_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
#creating bins
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_count=purchase_data
player_count["Age Ranges"]=pd.cut(player_count["Age"], age_bins, labels = group_names)
player_count=player_count.groupby("Age Ranges")
player_count.count()
summary_df = pd.DataFrame(player_count.count())
summary_df


summary_df["Purchase ID"] = (summary_df["Purchase ID"]/num_players)*100
summary_df 

# format percentages 
summary_df["Purchase ID"] = summary_df["Purchase ID"].map("{:,.2f}%".format)
summary_df

#  Reduce number of columns 
age_df = summary_df[["Purchase ID","SN"]]
age_df

# Rename the columns for the final age dempgraphic df using .rename(columns={})
final_summary_df = age_df.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
final_summary_df

           Percentage of Players  Total Count
Age Ranges
<10                        3.99%           23
10-14                      4.86%           28
15-19                     23.61%          136
20-24                     63.37%          365
25-29                     17.53%          101
30-34                     12.67%           73
35-39                      7.12%           41
40+                        2.26%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:

# Let's work with data sorted by age new dataframe
analysis_df = pd.DataFrame(player_count["Purchase ID"].count())
analysis_df

# Get Total purchase value by age
total_purchase = player_count["Price"].sum()
frm_total_purchase = total_purchase.map("${:,.2f}".format)


# Get Average purchase price by age
avg_purchase = player_count["Price"].mean()
frm_avg_purchase = avg_purchase.map("${:,.2f}".format)


# Get Normalized totals by age, total purchase value divided by purchase count by age
totals_ages = total_purchase/player_count["Purchase ID"].count()
frm_totals_age = totals_ages.map("${:,.2f}".format)


# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
analysis_df["Average Purchase Price"] = frm_avg_purchase
analysis_df["Total Purchase Value"] = frm_total_purchase 
analysis_df["Avg Total Purchase per Person"] = frm_totals_age 
analysis_df

# Summary purchasing analysis DF grouped by age, rename "Purchase ID" column, using .rename(columns={})summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_df = analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
# Let's work with original purchase data grouped by player("SN") 
orig_df = purchase_data


# Group by Spendors ( "SN" )
spendor_df = orig_df.groupby("SN")
spendor_df.count()

# Let's work with data sorted by SN new dataframe
analysis_df = pd.DataFrame(spendor_df["Purchase ID"].count())
analysis_df

# Get Total purchase value by age
total_purchase = spendor_df["Price"].sum()
frm_total_purchase = total_purchase.map("${:,.2f}".format)


# Get Average purchase price by age
avg_purchase = spendor_df["Price"].mean()
frm_avg_purchase = avg_purchase.map("${:,.2f}".format)


# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
analysis_df["Average Purchase Price"] = frm_avg_purchase
analysis_df["Total Purchase Value"] = frm_total_purchase 
analysis_df

# Summary purchasing analysis DF grouped by age, rename "Purchase ID" column, using .rename(columns={})summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_df = analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
top_spender_df = summary_df.sort_values("Total Purchase Value", ascending=False)
top_spender_df

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18
...                      ...                    ...                  ...
Qilalista41                1                  $1.02                $1.02
Ililsasya43                1                  $1.02                $1.02
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Alo38                      1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
# Let's work again with original purchase data grouped by "Item ID" and "Item Name"

# Group by Item ( "Item ID" and "Item Name" )
grp_df = orig_df.groupby(["Item ID", "Item Name"])

# Let's work with data sorted by SN new dataframe
analysis_df = pd.DataFrame(grp_df["Purchase ID"].count())
analysis_df

# Get Total purchase value by age
total_purchase = grp_df["Price"].sum()
frm_total_purchase = total_purchase.map("${:,.2f}".format)


# Get Average purchase price by age
avg_purchase = grp_df["Price"].mean()
frm_avg_purchase = avg_purchase.map("${:,.2f}".format)


# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
analysis_df["Item Price"] = frm_avg_purchase
analysis_df["Total Purchase Value"] = frm_total_purchase 
analysis_df

# Summary purchasing analysis DF grouped by age, rename "Purchase ID" column, using .rename(columns={})summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_df = analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
top_spender_df = summary_df.sort_values("Purchase Count", ascending=False)
top_spender_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [80]:
# Let's work again with original purchase data grouped by "Item ID" and "Item Name"

# Group by Item ( "Item ID" and "Item Name" )
grp_df = orig_df.groupby(["Item ID", "Item Name"])

# Let's work with data sorted by SN new dataframe
analysis_df = pd.DataFrame(grp_df["Purchase ID"].count())
analysis_df

# Get Total purchase value by age
total_purchase = grp_df["Price"].sum()
frm_total_purchase = total_purchase.map("${:,.2f}".format)


# Get Average purchase price by age
avg_purchase = grp_df["Price"].mean()
frm_avg_purchase = avg_purchase.map("${:,.2f}".format)


# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
analysis_df["Item Price"] = frm_avg_purchase
analysis_df["Total Purchase Value"] = frm_total_purchase 
analysis_df

# Summary purchasing analysis DF grouped by age, rename "Purchase ID" column, using .rename(columns={})summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_df = analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
top_spender_df = summary_df.sort_values("Total Purchase Value", ascending = False)
top_spender_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36

In [ ]:

#Observation:
#There were total of 576 players, majority are male.Total Male purchases $1,967.64 Hightest purchases happened between ages 20-24 which was $1,114.06(46.8%)

#"Final Critic" was on top total value $59.99